.contenedor-5{
    width: 100%;
    height: 80vh;
    background-color: $ColorPrincipal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .c5-txt{
        width: 50%;
        height:30vh;
        color: $ColorComplemento;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2{
            font-size: 45PX;
        }

        p{
            margin: 20px;
            font-size: 17px;
            line-height: 25px;
        }
    }

    .c5_data{
        width: 80%;
        height: 40vh;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5%
    }

    .circulo_data{
        width: 20%;
        height: 85%;
        margin: 10px;
        padding: 50px;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border:$ColorComplemento solid 3px ;
 
        h3{
            font-size: 100px;
            color:$ColorComplemento;
        }

        p{
            font-size: 25px;
            color:$ColorComplemento;
        }
    }


}